---
title : Профиль
styles:
- ../assets/styles/profile.less
---

{{!< base_layout }}

<div class="profile">
    <div class="profile__back">
        <div class="profile__back_icon">
            <a href="./chat.hbs">
                <img src="../assets/images/back-arrow.svg" alt="Назад">
            </a>
        </div>
    </div>
    <div class="profile__container">
        <div class="profile__container_avatar">
            <img src="../assets/images/profile.png" alt="Профиль">
        </div>

        <form class="profile__container_info">
            {{> profileInput type='email' name='email' label='Почта' placeholder='pochta@yandex.ru' }}
            {{> profileInput type='text' name='login' label='Логин' placeholder='ivanivanov' }}
            {{> profileInput type='text' name='name' label='Имя' placeholder='Иван' }}
            {{> profileInput type='text' name='surname' label='Фамилия' placeholder='Иванов' }}
            {{> profileInput type='text' name='chatName' label='Имя в чате' placeholder='Иван' }}
            {{> profileInput type='tel' name='tel' label='Телефон' placeholder='+7-909-967-30-30' }}
        </form>

        {{> button text="Сохранить" }}
    </div>


</div>