---
title : Профиль
styles:
- ../assets/styles/profile.less
---

{{!< base_layout }}

<div class="profile">
    <div class="profile__back">
        <div class="profile__back_icon">
            <a href="./chat.hbs">
                <img src="../assets/images/back-arrow.svg" alt="Назад">
            </a>
        </div>
    </div>

    <div class="profile__container">
        <div class="profile__container_avatar">
            <img src="../assets/images/profile.png" alt="Профиль">
        </div>

        <form class="profile__container_password">
            {{> profileInput type='password' name='oldPassword' label='Старый пароль' placeholder='•••••••••' }}
            {{> profileInput type='password' name='newPassword' label='Новый пароль' placeholder='•••••••••••' }}
            {{> profileInput type='password' name='repeatPassword' label='Повторите новый пароль' placeholder='•••••••••••' }}
        </form>

        {{> button text="Сохранить" }}
    </div>
</div>
