<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> | WebChat</title>
    <link rel="stylesheet" href="../assets/styles/global.less">
</head>
<body>
<main class="main">
    <div class="menu">
        {{> navLink href="../pages/login.hbs" text="Войти"}}
        {{> navLink href="../pages/registration.hbs" text="Регистрация" }}
        {{> navLink href="../pages/chat.hbs" text="Чат" }}
        {{> navLink href="../pages/profile.hbs" text="Профиль" }}
        {{> navLink href="../pages/notFound.hbs" text="404" }}
        {{> navLink href="../pages/serverError.hbs" text="500" }}
    </div>
</main>
</body>
</html>
