---
title: Вход
styles:
    - ../assets/styles/authForm.less
---

{{!< base_layout }}

<form class="auth__form">
    <h2 class="auth__form_title">Вход</h2>

    <div class="auth__form_input">
        {{> input type="text" placeholder="Логин" name="login" }}
        {{> input type="text" placeholder="Пароль" name="password" }}
    </div>

    <div class="auth__form_buttons">
        {{> button text="Авторизоваться" }}
        {{> navLink href='../pages/registration.hbs' text="Нет аккаунта?"}}
    </div>

</form>