---
title: Регистрация
styles:
- ../assets/styles/authForm.less
---

{{!< base_layout }}

<form class="auth__form">
    <h2 class="auth__form_title">Регистрация</h2>

    <div class="auth__form_input">
        {{> input type="text" placeholder="example@example.ru" label="Почта" name="email" }}
        {{> input type="text" placeholder="ivanivanov" label="Логин" name="login" }}
        {{> input type="text" placeholder="Ivan" label="Имя" name="name" }}
        {{> input type="text" placeholder="Ivanov" label="Фамилия" name="surname" }}
        {{> input type="tel" placeholder="+7-999-999-99-99" label="Телефон" name="tel" }}
        {{> input type="password" placeholder="Пароль" label="Пароль" name="password" }}
        {{> input type="password" placeholder="Пароль" label="Пароль (ещё раз)" name="password" }}
    </div>

    <div class="auth__form_buttons">
        {{> button text="Зарегистрироваться" }}
        {{> navLink href='../pages/login.hbs' text="Войти"}}
    </div>

</form>