---
title : Страница не найдена
styles:
- ../assets/styles/error.less
---

{{!< base_layout }}

<div class="error">
    <h1 class="error__title">500</h1>
    <h3 class="error__subtitle">Мы уже фиксим</h3>

    {{> navLink href="./chat.hbs" text="Назад к чатам" }}
</div>